n8n_templates/Lynx Travel Agent RAG pipeline (prod).json
{
  "name": "Lynx Travel Agent RAG pipeline (prod)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "raw",
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        224
      ],
      "id": "442f93e4-3289-47f1-898a-aa5575a426fe",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "RWkBrCIsVME9Xxgw",
          "name": "Pan PAC CM prod account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da65d650-cf5b-4341-baa7-64f214ada989",
              "name": "id",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e466ebc8-965d-456f-a289-83ada6b5b079",
              "name": "conversationId",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "acde0860-c41d-4820-9065-52fd7bfab6c3",
              "name": "receivedDateTime",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.receivedDateTime }}",
              "type": "string"
            },
            {
              "id": "b01c5bcc-32a8-4e46-82cb-45ca4efd337d",
              "name": "from",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.from }}",
              "type": "object"
            },
            {
              "id": "5a87460c-8708-4e2a-89da-bfd346c86299",
              "name": "toRecipients",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.toRecipients }}",
              "type": "array"
            },
            {
              "id": "04b25562-6089-4f6a-8723-2ae829351cb7",
              "name": "subject",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "fb2eb08d-94f0-469a-a1d5-d46f9fba52b7",
              "name": "body",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.body }}",
              "type": "object"
            },
            {
              "id": "579c5339-186f-4464-a45a-9f5208c4ade8",
              "name": "hasAttachments",
              "value": "={{ $json.hasAttachments }}",
              "type": "boolean"
            },
            {
              "id": "56638b17-6b9e-49c9-b2a2-cc44bb1d576b",
              "name": "attachments",
              "value": "={{ $binary }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        224
      ],
      "id": "88f38f8b-42da-4231-b923-2a7f745a8c98",
      "name": "Select Relevant Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is my email content:\nReceived At: {{ $json.receivedDateTime }}\nFrom:  {{ $json.from.emailAddress.name }} <{{ $json.from.emailAddress.address }}>\nTo: {{ $json.toRecipients[0].emailAddress.address }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body.content.removeTags().trim() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent designed to analyze the content of emails and determine whether they pertain to a travel booking. Given an email, you will process its text and classify it accordingly. If an e-mail is classified as booking-related, you will classify an e-mail category following instructions below.\n\n### Instructions:\n1. **Booking Classification**: Analyze the content of the email and determine whether it relates to a travel booking or not:\n  - If the email contains travel reservation details, confirmations, itinerary information, or booking updates, classify it as booking-related.\n  - If the email does not pertain to a booking, classify it as not booking-related.\n\n2. **Email Category**: Analyze the content of a booking-related email (see previous point) and determine to which of the following 4 categories it belongs: Supplier communication (SUPP), Agent Communication (CLINT), Travelling Client Communication (CLCOM) or General (GEN):\n  - If the email sender works for Voyageurs du Monde, Comptoir des Voyages, Pan Pacific Travel, Asia Voyages, Ultramarina or Australie à la Carte, classify it as Agent Communication and use code CLINT. In other words, if the sender has an email address that contains \"voyageursdumonde.ch\", \"voyageursdumonde.fr\", \"voyageursdumonde.ca\", \"comptoir.fr\", \"panpacifictravel.com.au\", \"ultramarina.com\" or \"australie-a-la-carte.com\", classify it as Agent Communication and use code CLINT.\n  - If the email sender doesn't match the previous rule and still provides a travel service as part of a travel itinerary (example: hotel booking, leisure or car rental), classify it as Supplier Communication and use code SUPP.\n  - If the email  is written by the travelling customer themselves (example: question about travel or reply to an agent), classify it as Travelling Client Communication  and use code (CLCOM).\n  - if none of these patterns applies, classify it as General and use code GEN.\n\n3. **Email Recipient Type**: Analyze the content of a booking-related email (see first point) and determine the email recipient type between values \"agent\", \"supplier\" or \"other\". An agent works for Voyageurs du Monde, Comptoir des Voyages, Pan Pacific Travel, Asia Voyages, Ultramarina or Australie à la Carte and uses email suffixes mentioned in the previous point. A supplier is typically an hotel, tourism agency or any third party providing a service. If you're unable to determine the email recipient type, classify it as \"other\". \n\n4. **Extract File Reference (if available)**: If the email contains a file reference, extract it and include it in the response. File reference is a plain string containing alphanumerical characters, no spaces, always starting with the \"FT\" prefix, generally found next to the customer lastname informations.\n\n5. **Infer Language**: Identify the primary language of the email content. There are only 2 possible language, french or english. Set value to either \"english\" or \"french\". If unknown, default to \"English\".\n\n### Expected JSON Response:\nReturn a structured JSON object with the following attributes:\n```json\n{\n  \"bookingRelated\": <boolean>,  // Required. \"true\" if the email is related to a travel booking, otherwise \"false\".\n  \"emailCategoryCode\": <string>, // Optional. The inferred email category code (e.g., \"SUPP\", \"CLINT\", \"CLCOM\", \"FLIGH\", \"GEN\").\n  \"emailRecipientType\": <string>, // Optional. The inferred email recipient type (e.g, \"agent\", \"supplier\" or \"other\").\n  \"fileReference\": \"<string>\",  // Optional. If a file reference is found, provide it; otherwise, return an empty string.\n  \"inferredLanguage\": \"<string>\"  // Required. The inferred language of the email content (e.g., \"english\", \"french\").\n}",
          "maxIterations": 1,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -896,
        224
      ],
      "id": "8478bb90-bc78-44c4-8cc8-2420b354d846",
      "name": "Classify booking-related emails",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "function stripHtmlTags(input) {\n    return input.replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').replace(/\\n/g, ' ');\n}\n\nfunction parseAttachments(items) {\n  const results = [];\n\n  for (const item of items) {\n    if (typeof item?.binary === 'object') {\n      for (const key of Object.keys(item.binary)) {\n          results.push({\n              json: {\n                  fileName: item.binary[key].fileName\n              },\n              binary: {\n                  data: item.binary[key],\n              }\n          });\n      }\n    }\n  }\n  \n  return results;\n}\n\nconst input = JSON.parse($input.first().json.output);\n\nif (!input || !input.bookingRelated) {\n   return {\n     bookingRelated: false\n  };\n}\n\nconst from = typeof $('Microsoft Outlook Trigger').first().json.from === 'object' ? $('Microsoft Outlook Trigger').first().json.from.emailAddress.name + '<' + $('Microsoft Outlook Trigger').first().json.from.emailAddress.address + '>' :\n    typeof $('Microsoft Outlook Trigger').first().json.internetMessageId === 'string' ? $('Microsoft Outlook Trigger').first().json.internetMessageId : 'UNKNOWN SENDER';\n\nconst hasAttachments = $('Microsoft Outlook Trigger').first().json.hasAttachments;\n\nconst attachments = hasAttachments ? parseAttachments( $('Microsoft Outlook Trigger').all()) : [];\n\nconst bookingKnowledge = {\n  bookingRelated: true,\n  emailCategoryCode: input.emailCategoryCode,\n  emailRecipientType: input.emailRecipientType,\n  inferredLanguage: input.inferredLanguage,\n  emailId: $('Microsoft Outlook Trigger').first().json.id,\n  conversationId: $('Microsoft Outlook Trigger').first().json.conversationId,\n  fileReference: input.fileReference,\n  receivedAt: $('Microsoft Outlook Trigger').first().json.receivedDateTime,\n  from,\n  subject: $('Microsoft Outlook Trigger').first().json.subject,\n  body: stripHtmlTags($('Microsoft Outlook Trigger').first().json.body.content),\n  hasAttachments,\n  attachments,\n};\n\nreturn bookingKnowledge;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        224
      ],
      "id": "22a4b146-4ffc-4607-b7b5-ef626a5d74e0",
      "name": "Build booking knowledge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chunkSize": 2048,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        832,
        432
      ],
      "id": "b53d0349-ad61-4de9-9fac-b23986d665af",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "88e185f9-035f-4af4-864d-9786913ee97d",
              "leftValue": "={{ $json.bookingRelated }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        224
      ],
      "id": "9e25ec31-7043-4735-988f-d14406280557",
      "name": "If booking-related email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ce08345-eeee-47f4-a6b0-c678f0eb39a8",
              "leftValue": "={{ $json.hasAttachments }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        624
      ],
      "id": "b6b64176-28ea-4c5f-a1d6-2df5d6d45b84",
      "name": "If booking has attachment"
    },
    {
      "parameters": {
        "chunkSize": 2048,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1968,
        1040
      ],
      "id": "0456f3f5-7efd-4e6f-8642-bac65ad6a136",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.binary.data.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b4b8ac68-c4f7-47b2-9bc2-290965a47628"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66467744-16e4-45bf-bda0-9dd675ca19f3",
                    "leftValue": "={{ $json.binary.data.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1104,
        624
      ],
      "id": "c8bc4676-8443-4df9-b10a-8066ceaae2cf",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        336,
        624
      ],
      "id": "cb0ebd6b-7005-4824-b1e5-00444e4d489d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        624
      ],
      "id": "a0eed458-53f1-472c-8575-f567ce181ee0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "binary.data.data",
        "options": {
          "fileName": "={{ $json.json.fileName }}",
          "mimeType": "={{ $json.binary.data.mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        624
      ],
      "id": "d9b120a5-60d3-47c1-ab3a-fd005a267913",
      "name": "Convert to File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -32,
        816
      ],
      "id": "115637df-a0f6-492a-99dd-1880fd6f5c38",
      "name": "Not booking-related, do nothing"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1552,
        624
      ],
      "id": "038db0a3-be7d-4408-9168-fd8c73d55715",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        640,
        16
      ],
      "id": "e2ebd9e8-daf7-495a-82dc-ffc7ea1dfbfa",
      "name": "Supabase Vector Store for Emails",
      "credentials": {
        "supabaseApi": {
          "id": "f2dLZpWPKMEpwXW8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1792,
        624
      ],
      "id": "0431e511-1271-4b28-89ee-dc221db7cb09",
      "name": "Supabase Vector Store for PDFs",
      "credentials": {
        "supabaseApi": {
          "id": "f2dLZpWPKMEpwXW8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": -1,
          "responseFormat": "json_object",
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -816,
        432
      ],
      "id": "7ff0ee57-4779-4af6-aa9d-0f2fffbb24f7",
      "name": "OpenAI Chat Model 1",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI agent designed to analyze email bodies to extract key facts contained inside. You are receiving several email bodies as single piece of text containing a conversation. Messages in this conversation appear in reversed chronological order. Your task is to extract key facts and summarize them as chronological output following instructions below.\n\n### Instructions:\n1. Build a list of sentences containing key facts of every message of the conversation contained in the input.\n2. For each item of that list, mention traveller name and booking reference when available.\n3. For each item of that list, mention sender and recipient when available.\n4. For each item of that list, mention details of booking requests when available.\n5. Gather all sentences into an array of string following the JSON schema below.\n6. Stick to key informations and facts.\n7. Disregard signatures found in email bodies.\n8. When list is finished, reverse the order to built a chronological output.\n\n### Expected JSON Response:\nReturn a structured JSON object with the following attribute:\n```json\n{\n  \"messages\": <string[]>,  // list of sentences built.\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -96,
        112
      ],
      "id": "fcbfbed1-27ae-49dc-a185-ff04fee8d795",
      "name": "Summarize email content"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        336
      ],
      "id": "0f8541ae-1210-45e0-8540-e7999dadf3a1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = JSON.parse($input.first().json?.output);\nreturn { messages: emails.messages.map(msg => `- ${msg}`).join(\"\\n\")  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        224
      ],
      "id": "3d41ae20-7eec-4a54-9632-1e3e2398e361",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        240
      ],
      "id": "f09faf41-c7f8-4545-8b0a-f25aa307ac43",
      "name": "Embeddings OpenAI 1",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.messages }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "emailId",
                "value": "={{ $('Build booking knowledge').item.json.emailId }}"
              },
              {
                "name": "conversationId",
                "value": "={{ $('Build booking knowledge').item.json.conversationId }}"
              },
              {
                "name": "fileReference",
                "value": "={{ $('Build booking knowledge').item.json.fileReference }}"
              },
              {
                "name": "from",
                "value": "={{ $('Build booking knowledge').item.json.from }}"
              },
              {
                "name": "subject",
                "value": "={{ $('Build booking knowledge').item.json.subject }}"
              },
              {
                "name": "inferredLanguage",
                "value": "={{ $('Build booking knowledge').item.json.inferredLanguage }}"
              },
              {
                "name": "emailReceivedAt",
                "value": "={{ $('Build booking knowledge').item.json.receivedAt }}"
              },
              {
                "name": "environment",
                "value": "prod"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        752,
        240
      ],
      "id": "5f959f45-12e4-4e6b-ab3b-78110484b900",
      "name": "Document Loader 1"
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        832
      ],
      "id": "4d846586-d093-4077-a4bb-d144838cf9a1",
      "name": "Embeddings OpenAI 2",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "emailId",
                "value": "={{ $('Build booking knowledge').item.json.emailId }}"
              },
              {
                "name": "conversationId",
                "value": "={{ $('Build booking knowledge').item.json.conversationId }}"
              },
              {
                "name": "fileReference",
                "value": "={{ $('Build booking knowledge').item.json.fileReference }}"
              },
              {
                "name": "from",
                "value": "={{ $('Build booking knowledge').item.json.from }}"
              },
              {
                "name": "subject",
                "value": "={{ $('Build booking knowledge').item.json.subject }}"
              },
              {
                "name": "inferredLanguage",
                "value": "={{ $('Build booking knowledge').item.json.inferredLanguage }}"
              },
              {
                "name": "emailReceivedAt",
                "value": "={{ $('Build booking knowledge').item.json.receivedAt }}"
              },
              {
                "name": "environment",
                "value": "prod"
              },
              {
                "name": "attachmentFileName",
                "value": "={{ $('Switch').first().binary.data.fileName }}"
              },
              {
                "name": "attachmentMimeType",
                "value": "={{ $(\"Switch\").first().binary.data.mimeType }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1888,
        848
      ],
      "id": "dd58ab8e-b9df-4e2a-8422-096569dc4377",
      "name": "Document Loader 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbf24b63-fdfb-4332-b557-ecfcc5b2ece1",
              "leftValue": "={{ $('Build booking knowledge').item.json.fileReference }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "88e185f9-035f-4af4-864d-9786913ee97d",
              "leftValue": "={{ $json.emailCategoryCode }}",
              "rightValue": "SUPP",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -192
      ],
      "id": "5a88a7e5-5ebb-4070-9d05-62db1dc1a7f2",
      "name": "If email from supplier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is my email content:\nReceived At: {{ $json.receivedAt }}\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nFile Reference: {{ $json.fileReference }}\nBody: {{ $json.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🧠 AI Agent Prompt: Email-Based Travel Transaction Matching\n\nYou are an AI agent responsible for analyzing email content to determine if it corresponds to a specific travel transaction. Provided with both the email content and a known `fileReference`, you will use tools from the **Lynx MCP Server** system to retrieve and evaluate transaction data.\n\n## 🛠 Step-by-Step Instructions\n\n### 1. Search for File Reference\n- **Use tool**: `file_search_by_file_reference`\n- **Input**: `fileReference` — the known reference provided\n\n### 2. Validate Search Result\n- If **no result** or **multiple results** are returned:\n  - Output an empty response  \n  - Stop processing  \n- If **exactly one result** is returned:\n  - Extract the `fileIdentifier`\n\n### 3. Retrieve Itinerary Details\n- **Use tool**: `retrieve_itinerary`\n- **Input**: `fileIdentifier` — obtained from step 2  \n- The tool returns a list of travel transactions\n\n### 4. Match Transaction Against Email  \nCompare the following fields from each transaction with the email subject or body:\n- `voucherIdentifier`\n- `supplier`\n- `location`\n- `confirmationNumber`\n\nIf a matching transaction is found, format the response as described below.  \nIf no match is found or if the tool returns an empty list, respond with an empty output.\n\n## 📦 Structured JSON Response\n```json\n{\n  \"voucherIdentifier\": \"<string>\",\n  \"date\": \"<string>\",\n  \"transactionIdentifier\": \"<string>\",\n  \"fileIdentifier\": \"<string>\",\n  \"supplier\": \"<string>\",\n  \"status\": \"<string>\",\n  \"confirmationNumber\": \"<string>\"\n}\n```\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        272,
        -288
      ],
      "id": "0f425c98-c94c-44ab-b68c-8c573b59a74f",
      "name": "Retrieve related transaction"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = JSON.parse($input.first().json.output);\n\n  let firstValidAttachment = null;\n\n  for (const attachment of $(\"Build booking knowledge\").first().json.attachments) {\n    if ( attachment.binary.data.mimeType === 'application/pdf' && firstValidAttachment ==  null) { \n      firstValidAttachment = {\n        data: attachment.binary.data.data,\n        mimeType: attachment.binary.data.mimeType,\n        fileName: attachment.json.fileName,\n      };\n   }\n }\n  \n  return {\n    voucherIdentifier: input.voucherIdentifier,\n    date: input.date,\n    transactionIdentifier: input.transactionIdentifier,\n    fileIdentifier: input.fileIdentifier,\n    supplier: input.supplier,\n    status: input.status,\n    confirmationNumber: input.confirmationNumber,\n    firstValidAttachment,\n  };\n}\ncatch {\n  return {};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -176
      ],
      "id": "00421a32-1843-43aa-a219-e1cf4ac6f5a9",
      "name": "Extract JSON"
    },
    {
      "parameters": {
        "sseEndpoint": "https://pmcp.dodmcdund.cc/sse",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "file_search_by_file_reference",
          "retrieve_itinerary"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "ee84c6f6-0446-4dcb-884b-50022ab68ad6",
      "name": "Lynx MCP Server",
      "credentials": {
        "httpBearerAuth": {
          "id": "HxeOsYch9S8sR8a1",
          "name": "Bearer Token for MCP Server PROD"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://pmcp.dodmcdund.cc/sse",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "transaction_document_save"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2384,
        32
      ],
      "id": "896b9888-991b-4c24-a2f3-1281bea72637",
      "name": "Lynx MCP Server 2",
      "credentials": {
        "httpBearerAuth": {
          "id": "HxeOsYch9S8sR8a1",
          "name": "Bearer Token for MCP Server PROD"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        -64
      ],
      "id": "025f2af8-4d98-4edd-939a-8abad0f5296b",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "timeout": 240000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2272,
        32
      ],
      "id": "91e9ffd5-21da-436f-8d08-a68a7a5ebf28",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "941fdd2a-b578-4203-b19f-e1a4334a38a7",
              "leftValue": "={{ $json.firstValidAttachment }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        -192
      ],
      "id": "1d6f4c24-5847-42f2-99c0-16af59d0c4a5",
      "name": "If has attachment"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "firstValidAttachment.data",
        "binaryPropertyName": "attachment",
        "options": {
          "fileName": "={{ $json.firstValidAttachment.fileName }}",
          "mimeType": "={{ $json.firstValidAttachment.mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1552,
        -288
      ],
      "id": "1106294c-4a77-4907-ac21-405ce18305c4",
      "name": "Convert to Attachment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pmcp.dodmcdund.cc/attachmentUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "attachment"
            },
            {
              "name": "fileId",
              "value": "={{ $('Extract JSON').item.json.voucherIdentifier }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        -288
      ],
      "id": "25ea074f-2a34-488a-8eef-b7c2e3328be7",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "HxeOsYch9S8sR8a1",
          "name": "Bearer Token for MCP Server PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33c4d53a-8dcc-4295-910b-c13013a2c34f",
              "name": "attachmentUrl",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        16
      ],
      "id": "4ec9d92a-10af-46d1-8faa-a7cab7d0dcce",
      "name": "Empty attachmentUrl"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44009bb1-6ac0-44aa-b219-248dc6f3e574",
              "leftValue": "={{ $json.transactionIdentifier }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        -192
      ],
      "id": "cc1070f7-7c98-4142-a4f7-539d1741300d",
      "name": "If retrieved transaction"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75929c4d-5d3d-4e01-ac3e-488c2a8b0f8b",
              "leftValue": "={{ $json.isDraft }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1344,
        224
      ],
      "id": "48275072-cc46-4f47-81ed-d0c22b1ee8b8",
      "name": "Discard drafts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "018d17f3-a53f-428a-8b5a-fadb6e97c8a3",
              "leftValue": "={{ $('Build booking knowledge').item.json.from }}",
              "rightValue": "Claire-Marie Bray<clairemarieb@panpacifictravel.com.au>",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1ce1a97e-d8a4-4b8d-8581-0030a9f95518",
              "leftValue": "={{ $('Build booking knowledge').item.json.emailCategoryCode }}",
              "rightValue": "CLINT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "48364dcd-7a93-4791-b086-ce5523b44ead",
              "leftValue": "={{ $('Build booking knowledge').item.json.emailRecipientType }}",
              "rightValue": "agent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -640
      ],
      "id": "2d78bfe7-1396-4168-91eb-a6e2605816fb",
      "name": "If email from CM to agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is my email content:\nReceived At: {{ $json.receivedAt }}\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nFile Reference: {{ $json.fileReference }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🧠 AI Agent Prompt: Email-Based Travel File Matching\n\nYou are an AI agent responsible for analyzing email content to determine if it corresponds to a specific travel file. Provided with both the email header and a known `fileReference`, you will use tools from the **Lynx MCP Server** system to retrieve and evaluate file data.\n\n## 🛠 Step-by-Step Instructions\n\n### 1. Search for File Reference\n- **Use tool**: `file_search_by_file_reference`\n- **Input**: `fileReference` — the known reference provided\n\n### 2. Validate Search Result\n- If **no result** or **multiple results** are returned:\n  - Output an empty response  \n  - Stop processing  \n- If **exactly one result** is returned:\n  - Extract the `fileIdentifier`\n\n## 📦 Structured JSON Response\n```\n{\n  \"fileIdentifier\": \"<string>\",\n}\n```\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        272,
        -736
      ],
      "id": "ea75d709-6908-4e90-ae32-4d8ad93a16b3",
      "name": "Retrieve related file"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        -528
      ],
      "id": "f5151448-ee65-4708-9eaa-67e126f6c244",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://pmcp.dodmcdund.cc/sse",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "file_search_by_file_reference"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        400,
        -528
      ],
      "id": "1ce772a1-8107-411c-acea-40488742c556",
      "name": "Lynx MCP Server1",
      "credentials": {
        "httpBearerAuth": {
          "id": "HxeOsYch9S8sR8a1",
          "name": "Bearer Token for MCP Server PROD"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = JSON.parse($input.first().json.output);\n\n  let firstValidAttachment = null;\n\n  for (const attachment of $(\"Build booking knowledge\").first().json.attachments) {\n    if ( attachment.binary.data.mimeType === 'application/pdf' && firstValidAttachment ==  null) { \n      firstValidAttachment = {\n        data: attachment.binary.data.data,\n        mimeType: attachment.binary.data.mimeType,\n        fileName: attachment.json.fileName,\n      };\n   }\n }\n  \n  return {\n    fileIdentifier: input.fileIdentifier,\n    firstValidAttachment,\n  };\n}\ncatch {\n  return {};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -640
      ],
      "id": "28c269ae-c395-4ef0-8d4d-2fa56f61a338",
      "name": "Extract JSON1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "941fdd2a-b578-4203-b19f-e1a4334a38a7",
              "leftValue": "={{ $json.firstValidAttachment }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        -640
      ],
      "id": "f94ca5c8-6954-4634-8760-1f516fc4ac1f",
      "name": "If has attachment1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33c4d53a-8dcc-4295-910b-c13013a2c34f",
              "name": "attachmentUrl",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        -544
      ],
      "id": "6e914fff-b0fc-4b38-a5d4-81e9f6b3156a",
      "name": "Empty attachmentUrl1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "firstValidAttachment.data",
        "binaryPropertyName": "attachment",
        "options": {
          "fileName": "={{ $json.firstValidAttachment.fileName }}",
          "mimeType": "={{ $json.firstValidAttachment.mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        -736
      ],
      "id": "a9bd3471-a32a-43bd-9bf1-ea13bb73b349",
      "name": "Convert to Attachment1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pmcp.dodmcdund.cc/attachmentUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "attachment"
            },
            {
              "name": "fileId",
              "value": "={{ $('Build booking knowledge').item.json.fileReference }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -736
      ],
      "id": "41d46193-7334-4fb7-8920-302b66a7cc8e",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "HxeOsYch9S8sR8a1",
          "name": "Bearer Token for MCP Server PROD"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "timeout": 240000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        -528
      ],
      "id": "5b07d0c2-3573-4d4e-96c3-63f0ca5ddf00",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "nKrzBiQTtSNGEZqH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://pmcp.dodmcdund.cc/sse",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "file_document_save"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1968,
        -528
      ],
      "id": "66833a5a-2cef-47c3-9059-8af84c3892f1",
      "name": "Lynx MCP Server ",
      "credentials": {
        "httpBearerAuth": {
          "id": "HxeOsYch9S8sR8a1",
          "name": "Bearer Token for MCP Server PROD"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is my email content:\n\nFrom: {{ $('If booking-related email').first().json.from }}\nSubject: {{ $('If booking-related email').first().json.subject }}\nEmail Category Code: {{ $('Build booking knowledge').first().json.emailCategoryCode }}\nTransaction Identifier: {{ $('Extract JSON').first().json.transactionIdentifier }}\nFile Identifier: {{ $('Extract JSON').first().json.fileIdentifier }}\nSupplier: {{ $('Extract JSON').first().json.supplier }}\nAttachmentUrl: {{ $json.attachmentUrl }}\nBody: {{ $('Microsoft Outlook Trigger').first().json.body.content }}\n",
        "options": {
          "systemMessage": "=## 🧠 AI Agent Instruction: Archive Email to Lynx MCP Server 2\n\nYou are an AI agent responsible for archiving the provided email content into the **Lynx MCP Server 2** system.\n\n## 🛠 Task Workflow\n\n### 1️⃣ Save Transaction Document  \n- **Invoke Tool**: `transaction_document_save`  \n- **Parameters**:  \n  - `fileIdentifier`: use the provided **file identifier**\n  - `transactionIdentifier`: use the provided **transaction identifier**\n  - `name`: use provided **supplier**\n  - `content`: use the provided **email body content** *(prefer HTML)*  \n  - `type`: use the provided **email category code**  \n  - `attachmentUrl`: use the provided **attachment URL**, or a blank string if empty\n\n### 3️⃣ Completion  \nAfter tool execution, expect an empty response.  \n✅ No additional actions are required after this step."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2240,
        -192
      ],
      "id": "695c6eca-be19-40d9-8e15-92cfcb0ec69c",
      "name": "Store email as transaction document",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is my email content:\n\nFrom: {{ $('If booking-related email').first().json.from }}\nEmail Category Code: {{ $('Build booking knowledge').first().json.emailCategoryCode }}\nFile Identifier: {{ $('Extract JSON1').first().json.fileIdentifier }}\nAttachmentUrl: {{ $json.attachmentUrl }}\nBody: {{ $('Microsoft Outlook Trigger').first().json.body.content }}\n",
        "options": {
          "systemMessage": "=## 🧠 AI Agent Instruction: Archive Email to Lynx MCP Server 2\n\nYou are an AI agent responsible for archiving the provided email content into the **Lynx MCP Server 2** system.\n\n## 🛠 Task Workflow\n\n### 1️⃣ Save File Document  \n- **Invoke Tool**: `file_document_save`  \n- **Parameters**:  \n  - `fileIdentifier`: use the provided **file identifier**\n  - `name`: use hardcoded value \"RSP TO AGENT\"\n  - `content`: use the provided **email body content** *(prefer HTML)*  \n  - `type`: use the provided **email category code**  \n  - `attachmentUrl`: use the provided **attachment URL**, or a blank string if empty\n\n### 3️⃣ Completion  \nAfter tool execution, expect an empty response.  \n✅ No additional actions are required after this step."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1824,
        -736
      ],
      "id": "1c6c8bf6-6f7c-4bcf-b17d-2b2cf9af4ed2",
      "name": "Store email as file document",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Discard drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Relevant Fields": {
      "main": [
        [
          {
            "node": "Classify booking-related emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify booking-related emails": {
      "main": [
        [
          {
            "node": "Build booking knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build booking knowledge": {
      "main": [
        [
          {
            "node": "If booking-related email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader 1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "If booking-related email": {
      "main": [
        [
          {
            "node": "If booking has attachment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize email content",
            "type": "main",
            "index": 0
          },
          {
            "node": "If email from supplier",
            "type": "main",
            "index": 0
          },
          {
            "node": "If email from CM to agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not booking-related, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If booking has attachment": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader 2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Supabase Vector Store for PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "Classify booking-related emails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize email content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize email content": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store for Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI 1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store for Emails",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader 1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store for Emails",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI 2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store for PDFs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader 2": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store for PDFs",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "If email from supplier": {
      "main": [
        [
          {
            "node": "Retrieve related transaction",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Retrieve related transaction": {
      "main": [
        [
          {
            "node": "Extract JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON": {
      "main": [
        [
          {
            "node": "If retrieved transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lynx MCP Server": {
      "ai_tool": [
        [
          {
            "node": "Retrieve related transaction",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lynx MCP Server 2": {
      "ai_tool": [
        [
          {
            "node": "Store email as transaction document",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve related transaction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Store email as transaction document",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If has attachment": {
      "main": [
        [
          {
            "node": "Convert to Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty attachmentUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Attachment": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Store email as transaction document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty attachmentUrl": {
      "main": [
        [
          {
            "node": "Store email as transaction document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If retrieved transaction": {
      "main": [
        [
          {
            "node": "If has attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard drafts": {
      "main": [
        [
          {
            "node": "Select Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email from CM to agent": {
      "main": [
        [
          {
            "node": "Retrieve related file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve related file",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lynx MCP Server1": {
      "ai_tool": [
        [
          {
            "node": "Retrieve related file",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve related file": {
      "main": [
        [
          {
            "node": "Extract JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON1": {
      "main": [
        [
          {
            "node": "If has attachment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has attachment1": {
      "main": [
        [
          {
            "node": "Convert to Attachment1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty attachmentUrl1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Attachment1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Store email as file document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Store email as file document",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lynx MCP Server ": {
      "ai_tool": [
        [
          {
            "node": "Store email as file document",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Store email as transaction document": {
      "main": [
        []
      ]
    },
    "Empty attachmentUrl1": {
      "main": [
        [
          {
            "node": "Store email as file document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea1e9c0d-0250-425c-b5f2-10c615a37c0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71858dc20d24af9eb47eadb374391d01e8a205e765e9dfb0596516276c758084"
  },
  "id": "js3EyvzjfxSPRcLq",
  "tags": [
    {
      "createdAt": "2025-06-02T14:15:22.742Z",
      "updatedAt": "2025-06-02T14:15:22.742Z",
      "id": "xt6NLU4yp2C3fSqI",
      "name": "RAG"
    }
  ]
}