n8n_templates/Lynx Travel Agent Activity Tracker (dev - experiment).json
{
  "name": "Lynx Travel Agent Activity Tracker (dev - experiment)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1831ad0f-9c9b-4fb3-99e6-1ce8c0857931",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        480
      ],
      "id": "0f4baf4d-63ec-4ebb-abf1-080823b16de8",
      "name": "Webhook",
      "webhookId": "1831ad0f-9c9b-4fb3-99e6-1ce8c0857931"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=screenshot",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "## Role\nYou are an AI agent tasked with analyzing a screenshot of a travel booking system interface. The screenshot contains editable fields used by a travel agent to process a booking request. Your objective is to extract all editable fields and generate structured information about them.\n\n## Instructions:\nBased on the provided screenshot, identify all editable fields and capture the following details:\n- Field Label: Extract the exact label of each field.\n- Field Description: Provide a concise description of the field's purpose and expected input (max 20 words).\n- Expected Input Type: Categorize input type as one of the following:\n  - Text (single-line, multi-line, predefined options)\n  - Date/time\n  - Number (integer, decimal, currency)\n  - Selection (dropdown, checkbox, radio buttons)\n- Required: Determine if the field is mandatory (true/false)\n\n## Output Format:\nReturn a structured JSON object capturing the extracted details, adhering to the following schema:\n\n```json\n{\n  \"fields\": [\n    {\n      \"label\": \"string\",\n      \"description\": \"string\",\n      \"inputType\": \"string\",\n      \"required\": true\n    }\n  ]\n}\n```\n\nEach entry in the \"fields\" array should strictly represent editable fields, ensuring accurate extraction and classification\n\n\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -640,
        480
      ],
      "id": "c2311650-b373-40ea-889d-d9df3aa87e39",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {
          "keepAlive": "1h",
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -552,
        700
      ],
      "id": "1722d217-0927-415e-856b-8198996a6984",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "cuAn52puN6Y1j2cv",
          "name": "Ollama LOCAL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -264,
        480
      ],
      "id": "c2296988-367d-40fb-ad31-ebe5c19b97fd",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d264dc9-a1b1-438c-a108-1913b707d842",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a78c7ff53dbf8b685f1a29b43c6372d678ea2682ddfbb53e124dfee099dbf82"
  },
  "id": "idCFIvM0VM1xPBTy",
  "tags": []
}